---
const { post } = Astro.params;
import { getEntry } from "astro:content";
console.log(post);
//@ts-ignore
const item = await getEntry("posts", post);
//@ts-ignore
const { Content } = await item.render();
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "@/components/Prose.astro";
---

<BaseLayout>
  <Prose>
    <p>{item?.data.title}!</p>
    <p>{item?.data.author}!</p>
    <p>{item?.data.posted}!</p>
    <Content />
  </Prose>
</BaseLayout>
jipjioj
