---
import { Button } from "@/components/ui/button";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<BaseLayout>
  {
    posts.map((post: any) => (
      <div>
        <h1>{post.data.title}</h1>
        <br />
        <a href={`/posts/${post.slug}`}>
          <Button>Read More</Button>
        </a>
        <br />
        <br />
      </div>
    ))
  }
</BaseLayout>
