---

---

<div
  class="prose min-w-[75%] dark:prose-invert
  prose-h1:font-bold prose-h1:text-6xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-h2:text-2xl pr-10"
>
  <slot />
</div>
